#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
}

#main > #cnt {
    margin: 3rem;
}

#main > #minus,
#main > #plus {
    cursor: pointer;
}

#main > #minus:hover,
#main > #plus:hover {
    opacity: 0.5;
}

